footer {
	width: 100%;
	background: #0A0A0A;
	background-size: cover;
	background-position: 50% 50%;
	padding: 32px;
}

nav li,
#footer-text li {
	float: left;
	list-style: none;
	height: 56px;
	width: 100%;
	cursor: pointer;
}

#footer-text {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#footer-text li a {
	color: #EEE;
	font-size: .9em;
}

#footer-text p {
	letter-spacing: 0.1em;
	line-height: 1.6em;
	font-size: 1.1em;
	color: #AAA;
	text-align: center;
	text-transform: uppercase;
}